.logo{
  background-color: #ffffff;
}
div.caja{
  border: 1px solid #eee;
border-radius: 4px;
box-sizing: border-box;
padding: 40px 36px 20px;
margin-top: 23px;
}
a.pass-perdida{
  display: block;
  overflow: hidden;
  text-align: center;
  margin: 16px 0;
  color: #666;
  font-weight: 200;
  cursor: pointer;
}
.btn-pass{
  margin: 28px 0 0px;
}

.foot-copyright{
  text-align: center;
margin: 88px 0 0;
font-size: 12px;
}
.titulo-texto{
  position: absolute;
  color: #fff;
  font-family: Lato;
  top: 130px;
  font-size: 40px;
  left: 41px;
}
.ico-recomendado{
  margin: 0 auto;
}
.dep-destacados p{
  margin: 14px 0 0 0;
  font-family: Lato;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bol
}
.tabla-rec{
      margin-top: 55px;
}
.btn-usuario{
  float: right;
}
.tabla-registro td {
    font-size: .9em;
}
.nav-logo{
  padding: 4px 3px 2px 10px;
  margin: 0px 2px 0px 18px;
  box-sizing: border-box;
}

.nav-logo img{
  width: 66%;
  padding: 0px 0px 0px 29px;
  box-sizing: border-box;
  margin: 0px -22px 0px 20px;
}
.modulo-consulta {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #d4d4d4;
    margin: 0 0 30px 0;
    padding: 0 0 20px 0;
}
@media (min-width: 834px) {
  .nav-logo img {
    width: 66%;
    padding: 0px 0px 0px 6px;
    box-sizing: border-box;
    margin: 0px -22px 0px 20px;
}
.nav-logo {
    padding: 2px 3px 2px 10px;
    margin: 0px 2px 0px 18px;
    box-sizing: border-box;
}


}

@media (max-width: 833px) {
  .nav-logo img {
    width: 66%;
    padding: 0px 0px 0px 6px;
    box-sizing: border-box;
    margin: 0px -22px 0px 0px;
}
.nav-logo {
    padding: 2px 3px 2px 10px;
    margin: 0px 2px 0px 18px;
    box-sizing: border-box;
}


}
@media (max-width: 483px) {
  .nav-logo img {
      width: 75%;
      padding: 0px 0px 0px 1px;
      box-sizing: border-box;
      margin: 0px -22px 0px 0px;
  }
.nav-logo {
    padding: 2px 3px 2px 2px;
    margin: 0px 2px 0px 18px;
    box-sizing: border-box;
}


}
